@import '../variables';
@import '../mixin';
.vc_row.nectar_section>.row_col_wrap_12 {
  padding: 0;
}
[class*="lennox-promo__"] {
  h1 {
    font: 700 32px/1.05 "Inter", sans-serif !important;
    letter-spacing: -2.56px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 9.09%, #000 87.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0 !important;
    font-optical-sizing: auto;
    margin-bottom: -0.05em;
    padding-bottom: 12px;
    @include tablet {
      font: 700 46px/1.05 "Inter", sans-serif !important;
    }
    @include sm_desktop {
      font: 700 58px/1.05 "Inter", sans-serif !important;
    }
    @include desktop {
      font: 700 64px/1.05 "Inter", sans-serif !important;
    }
  }
  .wpb_text_column.hero-subtext {
    color: #000;
    font: 700 18px/1 "Inter", sans-serif !important;
    letter-spacing: -1.28px;
      padding-bottom: 24px;
    @include desktop {
      padding-bottom: 48px;
    }
    @include tablet {
      font: 700 24px/1 "Inter", sans-serif !important;
    }
    @include desktop {
      font: 700 32px/1 "Inter", sans-serif !important;
    }
  }
  .wpb_text_column.large {
    color: #1C1C1C !important;
    font: 500 18px/1.2 "Inter", sans-serif !important;
    letter-spacing: -0.88px;
    @include desktop {
      padding-bottom: 24px;
    }
    @include desktop {
      font: 500 32px/1.2 "Inter", sans-serif !important;
    }
  }
}
body[data-form-submit=regular] .container-wrap .lennox-promo {
  &__first-section {
    max-height: 1024px;
    > .row-bg-wrap .row-bg {
      background: linear-gradient(180deg, rgba(246, 246, 246, 0.00) 50%, #F6F6F6 100%), linear-gradient(180deg, #F6F6F6 0%, rgba(255, 255, 255, 0.00) 43.05%);
      .row-bg-img {
        object-position: center 0% !important;
        @include lg_desktop {
          object-position: center 80% !important;
        }
        @include mobile {
          object-position: center 80% !important;
        }
        @include tablet {
          object-position: center 0% !important;
        }
      }
    }
  }
  &__hero {
    @include mobile {
      > .row_col_wrap_12 {
        padding-bottom: 330px !important;
      }
    }
    @include sm_mobile {
      > .row_col_wrap_12 {
        padding-bottom: 280px !important;
      }
    }
    @include tablet {
      > .row_col_wrap_12 {
        padding-top: 48px !important;
        padding-bottom: 380px !important;
      }
    }
    @include desktop {
      > .row_col_wrap_12 {
        padding-bottom: 50% !important;
      }
    }
    @include sm_desktop {
      > .row_col_wrap_12 {
        padding-bottom: 40% !important;
      }
    }
    @include desktop_4k {
      > .row_col_wrap_12 {
        padding-bottom: 50% !important;
      }
    }
    > .row_col_wrap_12 {
      @include desktop {
        padding-top: 74px;
      }
    }
    .underlined-content {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        left: -3%;
        top: 99%;
        background: url('https://orzechheating.ca/wp-content/uploads/2026/06/underline.svg') no-repeat 0 0;
        background-size: contain;
        width: 95%;
        height: 30px;
      }
    }
    .wpb_text_column.wpb_content_element.large {
      letter-spacing: -0.8px;
      text-align: center;
      color: #1C1C1C !important;
      a {
        font-weight: 700 !important;
        color: #1C1C1C !important;
        &:hover {
          color: #E31837 !important;
        }
      }
    }
  }
}